body {
    background-color: black;
}
div {
    width: 50%;
    margin-left:25%;
    margin-top: 5%;
    font-family: 'Libre Baskerville';
    color: white;
    text-align: center;
}


img {
    width:100%;
    border: 5px solid white;
    /* border-width: ; */
    
}
